body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    background-color: #a6d1eb;
}

header {
    background-color: #beed8c;
}

nav {
    background-color: #a6d1eb;
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}

nav ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block; 
  margin-right: 50px; 
}

nav a {
  text-decoration: none;
  color: #333;
  background-color: #f1b6b6;
}

nav img {
  width: 10%; 
  height: auto; 
  display: inline-block;
  vertical-align: middle; 
}

.flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px; 
}

.flex > div, .flex > section {
  flex: 1; 
  min-width: 250px; 
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around; 
  align-items: center;
  row-gap: 20px; 
  margin: 20px auto;
}

.grid img {
  width: 100%;
  height: auto; 
}

main {
    background-color: #f1b6b6;
    font-size: 100%;
}

footer {
    background-color: #71cee8;
}

/* li {
    display: inline-block; 
    width: 200px;          
} */

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

p {
    line-height: 1.6;
}

.skip-link:focus {
  top: 0; 
}